@import url(http://fonts.googleapis.com/css?family=Adamina);
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,300light|Monsterrat:400|Oswald:300,400|Bree+Serif|Merriweather|Vollkorn');
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');


$font-logo: 'Adamina', serif;
$font-sublogo: 'Lato', sans-serif;
$font-menu-item: 'Vollkorn', serif;

$color-topaz: #66CCAA;
$color-topaz-gold: #CC7A00;

.font-logo {
  font-family: $font-logo !important;
  font-size: 64px !important;
  letter-spacing: 7px;
  //font-style: italic;
  text-shadow: 1px 1px 0px $color-topaz-gold; 
  font-weight: 300;
  text-transform: uppercase;
}

.font-logo-sub {
  @extend .font-logo;
  font-family: $font-sublogo !important;
  font-size: 24px !important;
  letter-spacing: 3px;
  text-shadow: 0px 0px 0px $color-topaz;
}

.font-menu-item {
  font-family: $font-menu-item;
  font-size: 24px !important;
}

ul.menu-sex {
  list-style-type: none;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px !important;
  margin-right: 0px !important;

  @media #{$large-up} {
    margin-top: 40px;    
  }

  li {
    @extend .font-menu-item;
    display: block;
    border-top: solid 1px;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      background-color: #EFEFEF;
      cursor: pointer;
    }
  }

  li:last-child {
    border-bottom: solid 1px;
  }
}

ul.menu-size {
  list-style-type: none;

  font-size: 0px;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px !important;
  margin-right: 0px !important;

  @media #{$large-up} {
    margin-top: 40px;    
  }

  li {
    @extend .font-menu-item;
    display: inline;
    font-size: 28px !important;
    border-left: solid 1px;
    border-right: solid 0px;
    padding-left: 10px;
    padding-right: 10px;

    margin: 0px !important;

    &:hover {
      background-color: #EFEFEF;
      cursor: pointer;
    }
  }

  li:last-child {
    border-right: solid 1px;
  }
}