@import "media-queries";
@import "fonts";

.space-showcase {
  width: 100%;
  height: 20vh;
}


.valign-middle {
    display: table;

    > .columns {
        display: table-cell;
        vertical-align: middle;
    }

    > .columns, > [class*="column"] + [class*="column"]:last-child {
        float: none;
    }
}