

<div class="row">
  <div class="columns medium-12 large-4">
    <div class="row">
      <div class="columns small-12 show-for-large-up space-showcase"></div>
      <div class="columns small-12 medium-6 large-12 text-center"><center>
        <h1 class="font-logo">Topaz</h1>
        <h2 class="font-logo-sub">Ballroom Shoes</h2>
      </center></div>
      <div class="columns small-12 medium-6 large-12 text-center">
        
        <ul class="menu-sex">
          <li>For Women</li>
          <li>For Men</li>
        </ul>
       
        <ul class="menu-size">
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="columns medium-12 large-7 large-offset-1 text-center">
    <img class="padded" src="http://www.supadance.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/1/5/151706039-2.jpg">
  </div>
</div>
